
    .logo {
     font-family: 'Anton', sans-serif;  
    }

    .searchbar {
      border-radius: 1%;
    }

    
    #explain {
      background-color: rgb(245, 255, 238);
    }

    .hashbox {
      box-shadow: 1px 1px 5px grey, -1px -1px 5px grey;
      font-size: 0.9em;
      background-color: white;
    }

    .counter {
      width: 300px;
      height: 300px;
      margin-left: -50%;
      background-color: rgb(255, 22, 57);
     

    }

    .skew {
      height:85%;

    }

    #hiddenbox {
      display:none;
    }

    @media (max-width: 768px) {

      .skew {
        height:300px;

      }

      .counter {
        margin-left: 0;
        width: 100%;
        
      }

      #hiddenbox {
        display:block;
      }

      /*
      #containercount::after {
        content:"";
        transform: skewX(-10deg);
        background-color:red;
        height: 300px;
        width: 100%;
        margin:-41px;
        display:block;

      }
      */
