
    :root {
      --main:  #d28a04;
      --second: black;
      --third: #ffffcc;
      --maingray: #c9c6c6;
      --mybrown: #b6977a;
      --darkbrown: #570202;

    }
    
    body {
    /*background-color: var(--maingray);*/
    background-image: linear-gradient(45deg, white,var(--maingray), white);
   
    }

    .topbar {
      background-color:  var(--mybrown);
    }


    .logo {
     font-family: 'Bowlby One', cursive; 
     color: rgb(235, 195, 121); 
     text-shadow: 2px 2px black;
     border-style:;
    }

    .logo img {
      width: 100px;
      border-style:;
    }

    .logo p {
      padding-top: 5px;
    }

    .searchbar {
      border-radius: 1%;
    }

    .lupacont {
      height: 40px;
      padding: 2px;
    

    }
    
    #explain {
      background-color:;
    }

    .section-1 {
      position: relative;
      padding: 15px 15px 25px 25px;
      background-color: #d28a04;
      border-radius: 5px;
      box-shadow: 1px 1px 3px black;
    }

    .hashbox {
      /*box-shadow: 0 0 4px 0 rgba(0,0,0,0.15)*/;
      font-size: 0.9em;
      background-color: white;
      border-radius: 3%;
      border-style: solid;
      border-width: 2px;
      

    }

    

    .separador {
   
    width: 100%;
    /*transform: skewX(-10deg);*/
    color: white;
    font-weight: ;
    text-shadow: -1px -1px 1px var(--darkbrown);
    font-size: 1.5em;
    position:relative;
    height:2px;
    font-family: 'Contrail One', cursive;
    }

    .separador p {
      margin-top: -15px;
      background-color: var(--darkbrown);
      height: 30px;
      padding: 0 5px 5px 5px;
    
    }

    /*
    .separador::before {
    
      content: "";
      position: absolute;
      width: 20px;
      height: 15px;
      background-color: #702807;
      left: -10px;
      top:30%;
      border-radius:5px;
      border-left: solid 2px black;
      
    }

    .separador::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 15px;
      background-color: #702807;
      right:-10px;
      top:30%;
      border-radius:5px;
      border-right: solid 2px black;
    }
  */

    .skew {
      height:85%;

    }

    h2 {
      width: 200%; 
      color: orange; 
      background-color:var(--third); 
      position:relative;
      text-shadow: 1px 1px 1px black;
    }

    h2::after {
      content:"";
      width: 25%;
      height: 100%;
      transform:skewX(-10deg);
      background-color:var(--third);
      position: absolute;
    }



    #packtext {
    color:white;
    font-family: 'Contrail One', cursive;
    position: absolute;

    }

    .entrada {
      border-bottom-style: solid; 
      border-bottom-width: 1px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 0.9em;
    }

    #skewered {
     background-color: var(--second); 
     transform:skewX(-10deg); 
     
    }

    #concepts{
      font-size: .85rem;
     
    
    }


    .cifra span{
      background-color: black;
      color:white;
      font-size: 2rem;
      padding: .2rem;
      border-radius: 10%;

    }

    .cifra2 span{
      background-color: white;
      color:black;
      font-size: 2rem;
      padding: .2rem;
      border-radius: 10%;

    }

    .nospace p {
      margin:.2rem;
      padding:0;
    }

    #textcounter{
      height:300px; 
      width:300px;
      border-radius: 150px;
      border-width: ;
      border-style: ;
      box-shadow: 1px 1px 5px  #e6cb0ced;, -1px -1px 5px  #e6cb0ced;;
      position: absolute;
      bottom:25%;
      right:-5%;
      background-color: #e6cb0ced;
      font-family: 'Anton', sans-serif; 
  
    }

    #textcounter > p:first-child {
      background-color:;
      color: rgb(255, 255, 255);
      height: 15%;
      display: inline-block; 
      text-shadow: 5px 5px 10px black;
      border-style:;
      border-width: 1px;    

    }

    .box-seccion {
      width: 500px;
      height: 300px;
      position: relative;
      overflow: hidden;
      box-shadow: 1px 1px 5px black;
  
    }

    .box-seccion:nth-of-type(1) {
      background-image: linear-gradient(-125deg, black, var(--darkbrown));
      font-family: 'Anton', sans-serif;  
      color: white;
    }

    .box-seccion:nth-of-type(2) {
      background-color: #F1E6D2;
      font-family: 'Fredericka the Great', cursive; 
      
    }

    .box-seccion:nth-of-type(1) p {
      position: absolute;
      font-size: 2.8em;
      text-shadow: 2px 2px 30px orange;
      left:30px;
    }

    .box-seccion:nth-of-type(2) p {
      position: absolute;
      font-size: 3em;
      left:30px;
      color: var(--darkbrown);
      background-color: #F1E6D2;
      
    }

    .box-seccion:nth-of-type(1) img {
    
     
    }

    .box-seccion:nth-of-type(2) img {
      height: 145%;
     
     
    }

    .minisep {
    
    }

    .minisep p {
      color: /* #702807*/ black;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      font-size: 1.5em;
      font-family: 'Contrail One', cursive;
    }


    .beeritem {
      font-size: .9rem;
      margin-bottom: 15px;
    }

    .backpics {
      background-image: linear-gradient(-45deg, #ffefd1,  #ceb8a3, #ffefd1);
    }

    .carritomd {
      height:20%; 
      position:absolute; 
      bottom:0; 
      left:0; 
      opacity:0.8;
      display:none;
    }

    .beeritem:hover .carritomd {
      display:inline;
    }

    .beertype {
      width: 150px;
      height: 150px;
      color:white;
      text-shadow: 2px 1px 1px black;
      font-size: 2em;
      justify-content: center; 
      display: flex;
      align-items: center;
      opacity: 1;
      position: relative;
      font-family: 
      
    }

    .backgradi {
      background-image: linear-gradient(rgb(146, 107, 0),white);
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: .3;
    }

    footer {

        background-color: black;
      /*background-image:linear-gradient(var(--maingray),gray, black, black);
  */
      color: rgb(197, 130, 6);
      font-size: .9em;
    }

    li {
      list-style-type: none;
      color: white;
    }

    .social {
      border-radius: 10px;
      color:white;
      height: 50px;
      background-color: white /* rgb(197, 130, 6)*/;
    }

    .social img {
      max-height: 100%;
     
    }



    @media (max-width: 767px) {

      .skew {
        height:320px;

      }


      #textcounter{
        
        width:100%;
        height: auto;
        border-radius: 0;
        position: initial;
        box-shadow: none;
        border-style: none;
        margin-left: 15%;
        background-color: var(--main);
      
      }

      #textcounter > p:first-child {
        margin-bottom: 2rem;
  
      }

      .beeritem:hover .carritomd {
        display:none;
      }


  }


  @media (min-width: 769px) and (max-width: 991px) {
    
    #textcounter{

      height:250px; 
      width:250px;
      border-radius: 150px;
      position: absolute;
      bottom:-5%;
      right: -10%;
      background-color:  #e6cb0ced;
      font-family: 'Anton', sans-serif; 
      font-size: .9rem;
    }

    
    #textcounter > p:first-child {
      height: 20%;

    }

  }
  

      @media (min-width: 1200px) {
       
        h2::after {
          width: 40%;
      
        }

      };


      